.about
    padding-top: 120px
    padding-bottom: 120px
    &__content
        display: flex
        justify-content: space-between
        flex-direction: row
    &__text
        font-size: 14px
        grid-column: span 2
    &__wrapper
        margin-left: 70px
    &__grid
        margin-top: 20px
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr))
        display: grid
        grid-row-gap: 40px
        grid-column-gap: 50px
    &__subtitle
        padding-left: 12px
        position: relative
        +circle

.skill
    padding-left: 60px
    position: relative
    +about_circle
    &__description
        font-size: 12px
        margin-top: 6px
    &_web
        span
            position: relative
            &::before
                content: ''
                display: block
                position: absolute
                z-index: 2
                background: url('../../../icons/about_me/web_development.svg') center center/cover no-repeat
                top: 12px;
                left: -45px;
                width: 25px;
                height: 24px;
    &_apps
        span
            position: relative
            &::before
                content: ''
                display: block
                position: absolute
                z-index: 2
                background: url('../../../icons/about_me/mobile_dev.svg') center center/cover no-repeat
                top: 10px;
                left: -42px;
                width: 14px;
                height: 25px;
    &_design
        span
            position: relative
            &::before
                content: ''
                display: block
                position: absolute
                z-index: 2
                background: url('../../../icons/about_me/design.svg') center center/cover no-repeat
                top: 12px;
                left: -45px;
                width: 25px;
                height: 21px;